<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What's the weather like today?</title>
</head>
<body>
    <h1>What clothes should Eleanor wear today?</h1>
    <h2 id="top"></h2>
    <h2 id="bottoms"></h2>
    <h2 id="chanceOfRain"></h2>
    <h2 id="highTemp"></h2>
    <h2 id="lowTemp"></h2>
    <script src="js/main.js"></script>
</body>
</html>